.header{
   display: flex;
   align-items: center;
   height: 80px;
}

.header a{
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #333;
}

.header .logo {
   max-height: 64px;
   padding-left: 50px;
}

.header .title-group{
   padding-left: 70px;
}

.header .title-group i{
   padding-right: 10px;
}